@charset "UTF-8";

a, a:hover {text-decoration:none; color:#000;}

header {height:80px; background-color:#ededed; color: #000;}
.sign-up-box {width:650px; background-color:#ebebeb; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.sign-up-subject {margin:20px; font-weight:bold;}

.form-box {
	background-color:rgb(242, 242, 242); margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0; height: 300px;
}

.shadow-box {width:550px; background-color:#ebebeb; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.login-box {width:400px;}

.contents-box {width:650px; border-color:#ebebeb; border-style: solid; border-width: 1px;}
.upload-box {height: 35px;}
#writeTextArea {height:100px; border-style: none;}
#timeline-box {width:650px; border-color:#ebebeb; border-style: solid; border-width: 1px;}
.comment-input {width:565px; border-style: none;}
.comment {border-bottom:#ebebeb; border-style: solid; border-width: 0px 0px 1px 0px;}
#commentBox  {border-top:#ebebeb; border-style: solid; border-width: 1px 0px 0px 0px;}
.follow-btn {border-radius: 7px;}